<html ng-app="app">
<head>
    <title>Leap Control!</title>
    <!-- Prevent zooming for better tapping -->
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <script src="../bower_components/leapjs/leap-0.5.0.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="app" ng-style="{overflow:locked&&'hidden'}">

    <div class="target" ng-mousedown="tap()" ng-mouseup="untap()">
        Desktop mouse click
    </div>

    <div class="target-clear" ui-event="{touchstart:'clear();$event.preventDefault()'}" oncontextmenu="return false">
        Clear / Cancel
    </div>

    <div class="target" ui-event="{touchstart:'tap();$event.preventDefault()',touchend:'untap()'}" ng-class="{dot:dotActive,dash:dashActive}" oncontextmenu="return false">
        Mobile touch enabled
        <h3>hold time: {{time}} pause time: {{lastGap}}</h3>
    </div>

    <button ng-click="dot()">DOT</button>
    <button ng-click="dash()">DASH</button>
    <button ng-click="pause()">PAUSE</button>
    <button ng-click="space()">SPACE</button>
    <button ng-click="clear()">CLEAR</button>
    <button ng-click="lock()">{{locked&&'UNLOCK'||'LOCK'}}</button>

    <p><strong>Letter:</strong> {{letter}} <span ng-show="codes[letter]">({{codes[letter]}})</span></p>
    <p><strong>Word:</strong> {{word}}</p>
    <p>{{sentence}}</p>

    <h3>Timing sizes</h3>
    <div ng-repeat="(name, timer) in timers">
        <label>{{name}}: {{timer / 1000}}s</label><br>
        <input ng-model="timers[name]" type="range" min="100" max="5000" step="100">
    </div>
    <img src="morse_code.png" alt="Morse Code Chart">
</body>
</html>