.keyboard {
    margin: 10px 0;
    overflow: hidden;
}
.keyboard div {
    float: left;
    width: 10%;
    text-transform: uppercase;
}
.keyboard span {
    display: block;
}
.keyboard span + span {
    margin-left: 10px;
}
.keyboard span + span + span {
    margin-left: 20px;
}
.hover {
    color:blue;
}
.window {
    width: 100%;
    background: lightgray;
    height: 20px;
    position: relative;
}
.vert {
    width: 20px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.vert .pointer {
    width: 20px;
    height: 10px;
    margin: -5px 0;
    left: 0;
    bottom: 50%;
    top: auto;
}
.trigger {
    background: lightblue;
    width: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pointer {
    position: absolute;
    top: 0;
    height: 20px;
    width: 10px;
    background: red;
    margin: 0 -5px;
    left: 50%;
}
.pointer.active {
    background: blue;
}